/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: 'Audiowide', sans-serif;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url("assets/textures/background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.full-screen-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.threeD-button-set {
  list-style: none;
  padding: 0;
}

.threeD-button-set li {
  margin: 10px 0;
}

button {
  background-color: #7E6B8E; /* Purple color */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

button:hover {
  background-color: #5C4C73; /* Darker purple on hover */
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#newGameButton {
  background-color: #8E6C8B; /* Lighter purple for New Game button */
}

#newGameButton:hover {
  background-color: #7B5780; /* Darker purple on hover */
}

#levelButton {
  background-color: #9B8DA0; /* Lighter purple for Levels button */
}

#levelButton:hover {
  background-color: #78647A; /* Darker purple on hover */
}

.level-options {
  list-style: none;
  padding: 0;
}

.level-options li {
  margin: 5px 0;
}

.level-options button {
  background-color: #6B578E; /* Purple color for level options */
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.level-options button:hover {
  background-color: #4C3E5C; /* Darker purple on hover for level options */
  transform: scale(1.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
